.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  color: var(--text-color);
}

.about h2 span {
  color: var(--main-color);
  text-shadow: 0 0 50px var(--main-color);
}

.heading {
  text-align: center;
  font-size: 8rem;
}

.about-content h2 {
  text-align: center;
  line-height: 1.5;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}