.nav-item .nav-link {
  display: flex;
  position: relative;
  width: 100px;
  height: 50px;
  overflow: hidden;
  transition: width 0.3s;
}

.nav-item .nav-link span {
  position: absolute;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-item .nav-link i {
  transition: opacity 0.3s;
  align-items: center;
  justify-content: center;
}

.nav-item .nav-link:hover {
  width: 100px;
}

.nav-item .nav-link:hover i {
  opacity: 0;
}

.nav-item .nav-link:hover span {
  opacity: 1;
}