.navbar {
  display: flex;
  justify-content: center;
  position: relative;
}

.navbar-brand {
  position: fixed;
  left: 0;
  margin-left: 20px;
}

.nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 50px;
  transition: width 0.3s;
}

.nav-item .nav-link span {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-item .nav-link i {
  opacity: 1;
  transition: opacity 0.3s;
}

.nav-item .nav-link:hover {
  width: 100px;
}

.nav-item .nav-link:hover i {
  opacity: 0;
}

.nav-item .nav-link:hover span {
  opacity: 1;
}

.logo {
  max-width: 125px;
  height: auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.sidebar-logo {
  max-width: 50px;
  height: auto;
}