.header {
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  padding-top: 0;
  max-width: 125px;
  height: auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  font-size: 1.3rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#menu-icon:hover {
  transform: scale(1.1);
}