.projects {
  color: var(--text-color);
}

.projects h2 {
  margin-bottom: 5rem;
  color: white;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.project-box {
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.project-box:hover {
  background-color: white;
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.project-box .project-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: center;
  align-items: baseline;
  padding: 5rem;
}

.project-info h4 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.project-info p {
  font-size: 1.6rem;
  font-weight: 400;
  max-height: 100px;
  margin: auto;
}